:focus-visible {
  outline-color: hsl( var(--clr-accent-200) );
}

.homepage.grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100dvh;
}

@media (max-width: 60em) {
  .homepage.grid { 
    grid-template-rows: auto; 
    gap: 0;
  }

  .homepage.grid > * { grid-area: 1 / -1 / 1 / -1; } 

  .homepage--form.grid { gap: 1.3rem; }

  .form-container.grid { gap: 1rem; }

  .form-features { align-items: flex-start; flex-direction: column; }
}

aside { 
  position: relative;
  z-index: 0;
}

aside::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl( var(--clr-primary) / .4);
  z-index: 2;
}

.decor-image {
  z-index: 1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.form-container {
  margin: 2em;
  width: min(30rem, 100% - 2rem);
  margin-inline: auto; 
  z-index: 1;
  gap: 0;
}

.homepage--form.grid { padding: 2em; }

.homepage--form .input-text {
  padding: .5em 1em;
  border: 2px solid hsl( var(--clr-secondary-200) );
  outline: transparent;

  transition: all 150ms;
}

.homepage--form .input-text:focus-visible {
  border-color: hsl( var(--clr-primary) );
  outline-color: transparent;
}

.homepage--form input[type='checkbox']:checked {
  accent-color: hsl( var(--clr-accent-200) );
}

.homepage--form .cta-btn { padding: .5em 0; }

footer button, .remember ~ button { border-bottom: 1px solid hsl( var(--clr-accent-200) ); }

.homepage button { transition: opacity 150ms; }