.image-gallery {
  padding-bottom: 2em;
  gap: 2rem;
  break-inside: avoid;
}

@media (min-width: 30em) {
  .image-gallery {
    columns: 2;
  }
}

@media (min-width: 50em) {
  .image-gallery {
    columns: 3;
  }
}

article { 
  border-radius: 1rem; 
  margin-bottom: 2rem;
  background-color: hsl( var(--clr-accent-100) / .5 );
  min-height: 10em;
  min-width: 5em;
}

article.grid > * { 
  grid-area: 1 / -1 / 1 / -1;
  transition: all 200ms;
}

article > * { border-radius: inherit; }

article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  background-color: hsl(0 0% 0% / 0.38);
  visibility: hidden;
  opacity: 0;
}

.image-overlay > * { margin: 1em; }

article:where(:hover, :focus-visible) .image-overlay {
  visibility: visible;
  opacity: 1;
}

article .delete-btn { 
  border: 1px solid hsl( var(--clr-accent-200) );
  padding: .4em 1.1em;
  border-radius: 2.375rem;
}

article .delete-btn:where(:hover, :focus-visible) {
  background-color: hsl( var(--clr-accent-200) );
  color: hsl( var(--clr-secondary-100) );
  opacity: 1;
  outline-color: hsl( var(--clr-accent-200) );
}


