:focus-visible {
  outline: 2px dashed hsl( var(--clr-accent-200) );
}

main.grid {
  grid-template-columns: 1fr 1fr;
}

.decor-image {
  object-fit: cover;
  max-height: 100vh;
  width: 100%;
}

.input-wrapper input {
  padding: .5em 1em;
  border: 2px solid hsl( var(--clr-secondary-200) );
  outline: transparent;
}

.input-wrapper input:where(:hover, :focus, :focus-visible) {
  border-color: hsl( var(--clr-primary) );
}

input[type='checkbox']:checked {
  accent-color: hsl( var(--clr-accent-200) );
}

form button {
  padding: .5em 0;
  border-radius: 5px;
}

form button, a {
  transition: opacity 200ms;
}

:where(form button, a):where(:focus, :hover) {
  opacity: .6;
}